@{
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("cases");
}
@Display(Model.ContentItems)
@if (Model.ContentItems.Items.Count < 1) {
<p>@T("No case found.")</p>
}